<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link th:href="@{/Styles/register.css}" rel="stylesheet" />
<link th:href="@{/Styles/header.css}" rel="stylesheet" />
<title>Fiche Contact</title>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
  <div class="login-container">
    <div class="login-form">
      <h2>Fiche Contact</h2>
      <form  action="#" th:action="@{/contacts/contactForm/save}" th:object="${contact}" method="post">
        <div class="form-group">
            <label for="email">Email*</label>
            <input type="email" id="email" name="email" placeholder="Saisissez l'email" th:field="*{email}" required>
            <span th:if="${errorMessage}" class="error-message" th:text="${errorMessage}"></span>
          </div>
          <div class="form-group">
            <label for="telephone">Téléphone</label>
            <input type="text" id="telephone" name="telephone" placeholder="Saisissez le téléphone" th:field="*{telephone}">
            <span th:if="${errorMessage}" class="error-message" th:text="${errorMessage}"></span>
          </div>
        
        <div class="form-group">
            <label for="nom">Nom*</label>
            <input type="text" id="nom" name="nom" placeholder="Saisissez le nom" th:field="*{nom}" required>
          </div>
          <div class="form-group">
          <label for="prenom">Prénom*</label>
          <input type="text" id="prenom" name="prenom" placeholder="Saisissez le prénom" th:field="*{prenom}" required>
        </div>
        <div class="form-group">
            <label for="surnom">Surnom</label>
            <input type="text" id="surnom" name="surnom" placeholder="Saisissez le surnom" th:field="*{surnom}">
            <span th:if="${errorMessage}" class="error-message" th:text="${errorMessage}"></span>
          </div>
        <div class="form-group">
            <label for="commentaire">Commentaire</label>
            <input type="text" id="commentaire" name="commentaire" placeholder="Saisissez un commentaire" th:field="*{commentaire}">
          </div>
        <div class="form-group">
          <button type="submit">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>

</body>
</html>