<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/Styles/transactions.css}">
  <link th:href="@{/Styles/Style.css}" rel="stylesheet" />
  <title>Transfert</title>
</head>

<body>
<div th:insert="~{fragments/header :: header}"></div>

  <div class="transfer-container">
    <div class="transfer-form">
      <h2>Transfert</h2>
      <span th:if="${infoMessage}" class="info-message" th:text="${infoMessage}"></span>
	  <span th:if="${errorMessage}" class="error-message" th:text="${errorMessage}"></span>
	  <div class="form-group">
				<div class="solde-container">
					<p>
						Votre solde : <span th:text="${utilisateur.comptePMB.montant}"></span>
						€
					</p>
				</div>
			</div>
    <form th:action="@{/transactions}" th:object="${utilisateur}" method="post">
      <div class="form-group">
          <label for="action">Vous souhaitez :</label>
          <select id="action" name="action">
              <option value="envoyer">Envoyer</option>
              <option value="recevoir">Recevoir</option>
          </select>
      </div>
      <div class="form-group">
          <label for="email">Avec :</label>
          <select id="email" name="email">
              <option th:each="contact : ${utilisateur.contacts}" th:value="${contact.email}" th:text="${contact.email + ' ' + contact.surnom}"></option>
          </select>
      </div>
      <div class="form-group">
          <label for="montant">Montant :</label>
          <input type="number" id="montant" name="montant" placeholder="Saisissez le montant" min="1" required>
      </div>
      <button type="submit">Confirmer</button>
  </form>

    </div>

    <div class="transaction-history">
      <h2>Historique</h2>
      <table>
        <thead>
          <tr>
            <th>Contact</th>
            <th>Description</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John Doe</td>
            <td>Payment for services</td>
            <td>$50.00</td>
          </tr>
          <tr>
            <td>Jane Smith</td>
            <td>Product purchase</td>
            <td>$25.00</td>
          </tr>
          <tr>
            <td>David Johnson</td>
            <td>Monthly subscription</td>
            <td>$10.00</td>
          </tr>
          <tr>
            <td>Sarah Adams</td>
            <td>Loan repayment</td>
            <td>$75.00</td>
          </tr>
          <tr>
            <td>Mark Wilson</td>
            <td>Gift transfer</td>
            <td>$20.00</td>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <button class="prev-page">Previous</button>
        <button class="next-page">Next</button>
      </div>
    </div>
  </div>

  <footer>
    <!-- Votre contenu de pied de page ici -->
  </footer>
</body>

</html>
