
  header {
    background-color: #4CAF50;
    padding: 10px;
  }
  
  .menu {
    text-align: right;
  }
  
  .menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .menu ul li {
    display: inline-block;
    margin-left: 10px;
  }
  
  .menu ul li a {
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .menu ul li a:hover {
    background-color: #ffffff;
    color: #4CAF50;
  }
  
    button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  